.tools/
public/llvm-16/*.wasm
public/llvm-16/*.wasm.part-*
artifacts/
node_modules/
.next/
out/
dist/
/public/compiler/
.sollang-cache/
.sollang/
drafts/
**/bin/
**/obj/
**/target/
*.exe
*.dll
*.pdb
*.obj
*.lib
*.ll
*.tmp
*.tsbuildinfo
